/* add background, color, font-family, font-size, height, margin, padding, text-align */ 
body {
	background-color: #fff;
}

header {
	height: 120px;
	background-color: #fff;
}

.img {
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding: 25px;
}

main {
	padding-top: 60px;
	min-height: 400px;
}

footer {
	height: 100px;
	background-color: #bdcbd9;
}

.p { 
	pading: 25px;
	font-family: sans-serif;
}

.h1 {
	font-size: 40px;
	font-family: sans-serif;
	text-align: center;
	padding: 50px;
	margin: 0 0 0 20px;
    color: #8f99a4;
}

.h2 {
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	padding-top: 40px;
	margin: 0 0 0 20px;
    color: #8f99a4;
}

footer {
	text-align: center;	
}
footer #contact {
	color: #fff;
	padding-top: 20px;
	text-align: center;	
}
